[submodule "toolchain"]
	path = toolchain
	url = https://github.com/kdrag0n/proton-clang.git
[submodule "kernel"]
	path = kernel
	url = https://github.com/linux4-bringup-priv/android_kernel_samsung_exynos9820
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/privacyguy123/KernelSU
